html {
  font-family: Equity, Georgia, serif;
  line-height: 1.37;
  text-rendering: optimizeLegibility;
}

header[role=banner],
nav[role=navigation],
main[role=main],
footer[role=contentinfo] {
  margin: 2rem auto;
  max-width: 80vw;
}

header[role=banner] {
  text-align: center;
}

header[role=banner] img {
  width: 6rem;
}

header[role=banner] h1,
header[role=banner] p {
  margin: 0;
}

main[role=main] {
  column-width: 13rem;
}

section {
  break-inside: avoid-column;
  margin: 0 0 2rem 0;
}

section h2 {
  margin: 0;
}

main[role=main] ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

main[role=main] ul li {
  margin: 0.5rem 0;
}

footer[role=contentinfo] {
  text-align: right;
}

a[href] {
  text-decoration: none;
}

a[href]:hover {
  text-decoration: underline;
}
